body {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100vh;
}

.grid-container, .grid-square {
  border: 1px solid black;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
}

.grid-square {
  height: 23px;
  width: 23px;
  margin: 0;
}

.filled-square {
  background-color: black;
}