body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  background: url(../images/prism.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

h1 {
  font-family: 'Tangerine';
  font-size: 80px;
  margin: 30px;
  text-align: center;
}

.content {
  display: flex;
  padding: 20px;
  padding-top: 0;
  background-color: rgb(219, 219, 219);
  background: url(../images/prism.png);
}

.settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 60px;
  width: 230px;
  text-align: center;
}

#board-size {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;  
  background: #ffffff;
  outline: none;
}
#board-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: rgb(156, 156, 156);
  cursor: pointer;
}

#board-size::-webkit-slider-thumb:active {
  background: rgb(114, 113, 113);
}

.settings-container h3, .settings-container h4 {
  margin: 0;
  padding-bottom: 7px;
}

img {
  height: 70px;
  width: 70px;
}

.circle {
  overflow: hidden;
  padding: 0;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  
}

.brush-color-settings, .canvas-color-settings {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: left;
}

input[type=color]::-webkit-color-swatch {
  border: none;
  box-shadow: 3px 3px 12px -5px #000000;
  border-radius: 50%;
  padding: 0;
}

#color-picker, #canvas-color-picker {
  height: 80px;
  width: 80px;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
}

.settings-container button {
  height: 40px;
  background-color: rgb(78, 78, 78);
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  border: 2px solid #fff;
  font-size: 16px;
}

button:hover {
  background-color: rgb(56, 56, 56);
  cursor: pointer;
}

button:active {
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 0px 3px 1px #fff;
}

.grid-container, .grid-square {
  border: 1px solid rgb(83, 83, 83);
}

.grid-container {
  display: grid;
  height: 600px;
  width: 600px;
  box-shadow: 0px 0px 15px 1px #6d6d6d;
}

.filled-square {
  background-color: black;
}

.settings-container .btn-active {
  background: linear-gradient(45deg, #2B9FBB, #F78873);
  box-shadow: 0px 0px 3px 1px #fff;
}

@keyframes rainbow-color {
  0%   { background: red; }
  20%  { background: orange; }
  40%  { background: green; }
  60%  { background: blue; }
  80%  { background: violet; }
  100% { background: red; }
}

.settings-container .rainbow-btn-active {
  animation: rainbow-color 12s infinite linear;
  box-shadow: 0px 0px 3px 1px #fff;
}